project:
  type: website
  execute-dir: project
  render:
    - "*.qmd"
    - "!CONTRIBUTIONG.md"
    - "!LICENSE.md"

website:
  title: "Biology-informed Multiomics Data Integration and Visualization"
  favicon: assets/SIB_logo.svg
  search: true
  page-navigation: true
  # google-analytics: G-1H5B39PY7V
  # cookie-consent: true
  navbar:
    background: "#003eaa"
    left:
      - href: index.qmd
        text: Home
      - href: precourse_preparations.qmd
      - href: course_schedule.qmd
      - text: "day 1"
        menu:
          - href: "day1/day1-1_dataset.qmd"
          - href: "day1/day1-2_atac.qmd"
          - href: "day1/day1-3_chip_rna.qmd"
      - text: "day 2"
        menu: 
          - href: "day2/day2-1_overlap_matrix.qmd"
          - href: "day2/day2-2_atac_rna.qmd"
          - href: "day2/day2-3_multiomics.qmd"
          - href: "day2/day2-4_enrichment_analysis.qmd"
    right:
      - icon: github
        href: https://github.com/sib-swiss/biology-informed-multiomics-training
        aria-label: GitHub
  sidebar:
    logo: assets/SIB_LogoQ_GBv.svg

format:
  html:
    code-link: true
    theme: 
      - default
      - custom.scss
    toc: true
    header-includes: |
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
      <!-- Cookie Consent & Matomo Tracking -->
      <script src="assets/cookie-consent.js"></script>
      <!-- End Matomo Code -->


execute:
  freeze: auto 
  cache: true
  tidy: true
